*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #f2f2f2;
  --red: #d92525;
  --red-mid: #8c1f28;
  --red-dark: #591c21;
  --green: #044040;
  font-family: "Lato", sans-serif;
}

#game-screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr;
}

#game-screen p {
  font-size: 2rem;
}

#menu-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 4px 4px 2px rgba(68, 66, 66, 0.187);
  align-items: center;
  background-color: #fff;
}

#grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

#grid {
  height: 60vh;
  width: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #fff;
  border-radius: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-border {
  border-left: 1px solid rgba(116, 116, 116, 0.114);
}

.bottom-border {
  border-bottom: 1px solid rgba(116, 116, 116, 0.114);
}
